<div class="discover">
    <div class="container">
        @*{/* header */}*@
        <div class="discover__header">
            <div class="discover__header-btn">
                <div class="discover__button">
                    <div class="discover__col">
                        <button type="button"
                                class="discover_btn--active discover_btn ">
                            Discover
                        </button>
                    </div>
                    <div class="discover__col">
                        <button type="button" class="discover_btn">
                            Style Master
                        </button>
                    </div>
                    <div class="discover__col">
                        <button type="button" class="discover_btn">
                            Lookbook
                        </button>
                    </div>
                </div>
            </div>
            <div class="discover__title">
                CÙNG 30SHINE KHÁM PHÁ <span>XU HƯỚNG TÓC HOT NHẤT</span>
            </div>
        </div>
        @*{/* content */}*@
        <div class="discover__content">
            <div class="discover__content-row">
                @*{/* col 1 */}*@
                <div class="discover__column">
                    @*{/* col 1 item 1 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/small_side_part_vuot_ru_6dce22fce7.jpg" height="315px"  />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Phá cách với kiểu tóc nam Side Part vuốt rủ và học cách
                                    vuốt trong tích tắc
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 2 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/2.jpg" height="305.525px"  />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    4 Mẹo Giữ Form Tóc Khi Đội Mũ Bảo Hiểm
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 3 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/3.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Tóc Hai Mái Hàn Quốc Hợp Gương Mặt Nào?
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 4 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/4.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Bao Lâu Gội Đầu Một Lần Để Giữ Kiểu Tóc Đẹp?
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 5 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/5.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Mẹo Vuốt Tóc Mohican Tại Nhà
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 6 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/6.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Đàn Ông Bao Lâu Nên Cắt Tóc Một Lần?
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 7 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/7.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    3 Lý Do Không Thể Bỏ Lỡ Tóc Uốn Con Sâu
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 8 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/8.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Top Màu Tóc Đẹp Không Cần Tẩy Cho Nam
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*{/* col 2 */}*@
                <div class="discover__column">
                    @*{/* col 1 item 9 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/9.jpg" height="337.195px"  />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Top 3 Màu Nhuộm Tóc Lý Tưởng Cho Học Sinh
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 10 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/10.png" height="221.2px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Mẹo Để Tóc Hết Chỉa Và Bết Dính
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 11 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/11.jpg" height="333.133px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Những Ai Nên Tránh Xa Kiểu Tóc Mohican???
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 12 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/12.jpg" height="333.133px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Nhuộm Tóc Màu Khói Phải Tẩy Tóc Mấy Lần?
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 13 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/13.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Tuyệt Chiêu Duỗi Tóc Thẳng Không Cần Dùng Nhiệt
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 14 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/14.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Lý Do Khiến Nâu Khói Là Màu Nhuộm Hot Nhất 2020
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 15 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/15.jpg" height="129.623px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Hành Trình Đi Tìm Trend Tóc Cho Nam Giới Việt
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 16 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/16.png" height="332.132px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Anh Chàng "Chưa Nhuộm Tóc Bao Giờ" Lột Xác Với Màu Nhuộm
                                    Xám Khói
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*{/* col 3 */}*@
                <div class="discover__column">
                    @*{/* col 1 item 17 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/17.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Biến Hoá Đa Phong Cách Với Kiểu Tóc Middle Part
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 18 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/18.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Tự Làm Tóc Dreadlock Tại Nhà
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 19 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/19.jpg" height="297.312px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    30Shine Concept Mới - Đỉnh như Starbucks
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 20 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/20.jpg" height="314.205px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Kiểu Tóc Khiến LK Thoát Ly "Chiếc Mũ Huyền Thoại"
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 21 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/21.png" height="332.132px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Chán Side Part Cổ Điển Thì Phải Làm Gì?
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 22 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/22.png" height="315.1px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Mặt Tròn Có Để Được Kiểu Tóc Layer Không?
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 23 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/23.png" height="336.17px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Theo Chân Khách Ruột Của 30Shine Đi Cắt Kiểu Tóc Sport
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*{/* col 4 */}*@
                <div class="discover__column">
                    @*{/* col 1 item 24 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/24.png" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Sport - Kiểu Tóc Dành Cho Đàn Ông Chuẩn Men
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 25 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/25.png" height="229.729px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Thử Đổi Kiểu Tóc Cho Cậu Bạn Hot Boy Trường Y
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 26 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/26.png" height="332.132px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Side Part Violet Cho Dân Văn Phòng
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 27 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/27.png" height="333.133px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Lột Xác Giám Đốc Thiết Kế Của 30Shine
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 28 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/28.png" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Side Part - Kiểu tóc lịch lãm "cứ để là đẹp"
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 29 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/29.png" height="312.429px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Kiểu Tóc "Cộp Mác" Ca Sĩ Lê Bảo Bình
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 30 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/30.png" height="333.133px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Đồng Nghiệp Phải Trầm Trồ Trước Màu Tóc Mới Của Anh Bạn
                                    Phó Giám Đốc
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*{/* col 5 */}*@
                <div class="discover__column">
                    @*{/* col 1 item 31 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/31.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Sport - Kiểu Tóc Dành Cho Đàn Ông Chuẩn Men
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 32 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/32.jpg" height="229.729px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Kiểu Tóc Đẹp Cho Gương Mặt Vuông
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 33 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/33.jpg" height="332.132px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Tóc Bò Liếm Vẫn Đẹp Trai Như Binz
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 34 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/34.jpg" height="333.133px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Sport Nhuộm Khói Xanh Như Sơn Tùng MTP
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 35 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/35.jpg" height="331.138px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Mặt Béo Và Tròn Để Tóc Gì Cho Đẹp?
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 36 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/36.jpg" height="312.429px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Top 4 Kiểu tóc cưng muốn xỉu cho các bé trai
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*{/* item 37 */}*@
                    <div class="discover__content-item">
                        <a href="#">
                            <div class="discover__item-image">
                                <img src="~/lib/img/PageKhamPhaKieuToc/36.jpg" height="312.429px" />
                            </div>
                        </a>
                        <div class="tag__hair">
                            <a href="#">
                                <p class="tag__hair-text">
                                    Diễn viên Thanh Sơn Và Câu Chuyện Chinh Phục Vai Diễn
                                    "Chẳng Ai Mong Muốn"
                                </p>
                            </a>
                            <div class="tag__hair-icons">
                                <div class="tag__icon">
                                    <img src="~/lib/img/PageKhamPhaKieuToc/heart.b3ffd2ea.svg" />
                                </div>
                                <div class="tag__icon">
                                    <a href="#">
                                        <img src="~/lib/img/PageKhamPhaKieuToc/share.64b8ac3b.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
}
