@using website.Views.Components
@{ ViewData["Title"] = "Thuật toán"; }

@*<h1>@ViewData["Title"]</h1>*@
<div class="text-center">
    <component type="typeof(ThuatToan)" render-mode="ServerPrerendered" />
</div>

@{
}
