@using website.Views.Components
@{ 
	ViewData["Title"] = "Thuật toán"; 
}

<div class="text-center">
    <component type="typeof(ThuatToan)" render-mode="ServerPrerendered" />
</div>

@section Scripts{
	<!--Minh họa gọi JS từ C#-->
	<script>
		window.ShowAlert = (message) => {
			alert(message);
		}
	</script>
}