.article .container {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.article_page-title {
  font-size: 2.8rem;
  font-family: Oswald;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 3rem 0;
}
.article_page-subtile {
  font-size: 1.6rem;
  text-align: center;
  padding: 0 0 3rem;
  max-width: 800px;
  margin: 0 auto;
}
.article_row {
  display: flex;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.article_col {
  padding: 0 1.5rem;
}
.article_item {
  margin-bottom: 3rem;
  border-radius: 0.8rem;
  overflow: hidden;
  color: rgb(17, 17, 17);
  transition: all 0.3s ease 0s;
  border: 1px solid rgb(218, 218, 218);
}
.article_item:hover {
  box-shadow: rgb(0 0 0 / 45%) 0px 0px 14px;
}
.article_media {
  overflow: hidden;
}
.article_media:hover {
  transition: all 0.3s ease-in-out;
}
.article_media > img {
  transition: all 0.3s ease;
  width: 100%;
}
.article_media > img:hover {
  transform: scale(1.03);
}
.article_content {
  padding: 1.2rem;
}
.article__title {
  font-size: 2.2rem;
  min-height: 7rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #000;
}
.article__title_sizeM {
  font-size: 2rem;
  min-height: 5.5rem;
  text-transform: none;
  font-weight: 600;
}
.article__body {
  font-size: 1.8rem;
  margin-top: 1.6rem;
  min-height: 5rem;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #000;
}
.article__body_sizeM {
  font-size: 1.6rem;
  margin-top: 1rem;
  min-height: 5rem;
}
.article__tag {
  display: flex;
  font-size: 1.2rem;
  padding-top: 1.6rem;
  justify-content: space-between;
}
.article__tag > span {
  color: #000;
}
.article__icon > img {
  width: 2.4rem;
}
